.button {
    padding: 14px 39px;
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background: #FCB72B;
    border: 3px solid transparent;
    transition: color 0.5s, background 0.5s;
}

.button:hover {
    color: #FCB72B;
    background: #FFFFFF;
    border: 3px solid #FCB72B;
}

.button:active {
    color: #FFFFFF;
    background: #FCB72B;
}