.header {
    padding: 22px 0;

    &--container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__hamburger {
        display: none;
    }

    &__logo-link {
        flex-shrink: 0;
    }

    &__left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 415px;
    }

    &__logo-img{
        transition: 0.3s;
    }

    &__logo-img:hover {
        opacity: 0.8;
    }

    &__logo-img:active {
        opacity: 0.4;
    }

    &__nav {
        white-space: nowrap;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
    }

    &__item + &__item {
        margin-left: 32px;
    }

    &__link {
        text-decoration: none;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
        transition: 0.3s;
    }

    &__link:hover {
        color: #FCB72B;
    }

    &__link:active {
        color: #939CAA;
    }

    &__menu-img {
        display: none;
    }


}

  
  @media only screen and (max-width: 1200px){
    .container {
      max-width: 960px;
    }
  }
  
  @media only screen and (max-width: 992px){
    .container {
      max-width: 720px;
    }
  }
  
  @media only screen and (max-width: 768px){
    .header {
        position: relative;

        .container {
            max-width: 755px;
          }

          &__hamburger {
              display: block;
              background-image: url("../../images/gamburger-menu.svg");
              background-repeat: no-repeat;
              width: 17px;
              height: 16px;
              border: none;
              background-color: white;
          }

          &__left {
              
              display: flex;
              align-items: center;
              flex-direction: column;
              width: 100%;
          }

          &__nav {
              display: none;
          }

          &__menu-img {
              display: block;
          }     
    }

    .header--open .header__nav {
        display:block;
        position: absolute;
        left: 25px;
        top: 100%;
        background-image: url("../../images/menu-back-img.png");
        background-repeat: no-repeat;
        background-position: top 0 left 0;
        height: 100vh;
        width: 220px;
        
    }

    .header--open .header__list {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 64px;
    }

    .header--open .header__item {
        margin-left: 0;
        margin-bottom: 24px;
    }

    .header--open .button {
        display: block;
        position: absolute;
        left: 42px;
        top: 100%;
        top: 580px;
    }

    .header--open .header__hamburger {
        background-image: url("../../images/gamburger-menuX.svg");
        background-repeat: no-repeat;
        width: 18px;
        height: 18px;
        background-color: white;

    }

    .header--open .header__mobile-bg {
        z-index: -90;
        display: block;
    }

    button {
        display: none;
    }
  }
  
  @media only screen and (max-width: 375px){
    .header {
        .container {
            max-width: 100%;
          }

          &__wrappr {
              display: flex;
              align-items: center;
              flex-direction: column;
          }

          
    }
  }