.opportunities {
    padding-top: 160px;
    padding-bottom: 200px;

    &__container {
        max-width: 1110px;
        width: 100%;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
    }

    &__item::before{
        content: " ";
        width: 974px;
        height: 15px;
        position: absolute;
        top: 200px;
        left: calc(50% + -770px);
        display: block;
        background-color: #E5ECF4;
        z-index: -1;
    }

    &__item {
        max-width: 350px;
        width: 100%;
    }

    &__item + &__item {
        margin-left: 30px;
    }

    &__box {
        padding: 24px 29px;
        width: 96px;
        background: #FCB72B;
        border-radius: 50%;
        margin-bottom: 40px;
    }

    .scoot {
        padding: 32px 27px;
    }

    .bike {
        padding: 28px;
    }

    &__heading {
        margin: 0;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -1.07143px;
        color: #495567;
        margin-bottom: 27px;
    }

    &__desc {
        margin: 0;
        font-family: 'Lexend Deca';
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;

    }
}

@media only screen and (max-width: 1440px){
    .container {
        max-width: 993px;
    }

    .opportunities {

        &__item::before{
            content: " ";
            width: 950px;
            height: 15px;
            position: absolute;
            top: 200px;
            left: calc(50% + -770px);
            display: block;
            background-color: #E5ECF4;
            z-index: -1;
        }

        &__item {
            max-width: 320px;
            width: 100%;
        }

        &__item + &__item {
            margin-left: 15px;
        }

        &__heading {
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -1.07143px;
            color: #495567;
            margin-bottom: 24px;
        }

        &__desc {
            margin: 0;
            font-family: 'Lexend Deca';
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #939CAA;
        }
    }
}

@media only screen and (max-width: 993px){
    .container {
        max-width: 800px;
    }

    .opportunities {

        &__item::before{
            content: " ";
            width: 950px;
            height: 15px;
            position: absolute;
            top: 200px;
            left: calc(50% + -770px);
            display: block;
            background-color: #E5ECF4;
            z-index: -1;
        }

        &__item {
            max-width: 300px;
            width: 100%;
        }

        &__item + &__item {
            margin-left: 15px;
        }

        &__texts {
            max-width: 350px;
            width: 100%;
        }

        &__heading {
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -1.07143px;
            color: #495567;
            margin-bottom: 24px;
        }

        &__desc {
            font-size: 13px;
        }
    }
}

@media only screen and (max-width: 768px){
    .container {
        max-width: 613px;
        padding: 0 20px;
    }

    .opportunities {
        padding-top: 122px;
        padding-bottom: 145px;

        &__list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__item::before{
            content: " ";
            width: 15px;
            height: 512px;
            position: absolute;
            top: 0px;
            left: calc(50% + -243px);
            display: block;
            background-color: #E5ECF4;
            z-index: -1;
        }

        &__item {
            max-width: 573px;
            width: 100%;
            display: flex;
            align-items: center;
        }

        &__item + &__item {
            margin-left: 0px;
            margin-top: 40px;
        }

        &__box {
            padding: 24px 29px;
            width: 96px;
            background: #FCB72B;
            border-radius: 50%;
            margin-bottom: 0px;
            margin-right: 79px;
            position: relative;
            top: -15px;
        }

        &__texts {
            max-width: 398px;
            width: 100%;
        }

        &__heading {
            margin: 0;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -1.07143px;
            color: #495567;
            margin-bottom: 27px;
        }

        &__desc {
            margin: 0;
            font-family: 'Lexend Deca';
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #939CAA;

        }
    }
}

@media only screen and (max-width: 515px){
    .container {
        max-width: 480px;
    }

    .opportunities {
        &__item::before{
            content: " ";
            width: 15px;
            height: 512px;
            position: absolute;
            top: 0px;
            left: calc(50% + -185px);
            display: block;
            background-color: #E5ECF4;
            z-index: -1;
        }

        &__item {
            max-width: 573px;
            width: 100%;
            display: flex;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 480px){
    .container {
        max-width: 100%;
    }

    .opportunities {
        padding-top: 120px;
        padding-bottom: 120px;

        &__item::before{
            display: none;
        }

        &__item {
            max-width: 311px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__item + &__item {
            margin-left: 0px;
            margin-top: 48px;
        }

        &__box {
            padding: 14px 17px;
            width: 56px;
            background: #FCB72B;
            border-radius: 50%;
            margin-bottom: 24px;
            margin-right: 0;
        }

        .scoot {
            padding: 19px 15px 19px 16px;
        }

        .bike {
            padding: 16px;
        }

        &__heading {
           text-align: center;
            font-size: 20px;
            margin-bottom: 24px;
        }

        &__desc {
            margin: 0;
            font-family: 'Lexend Deca';
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #939CAA;
            text-align: center;
        }
    }
}
